<% rounded_box :id=>'users-view' do %>
	<h1><%= t :edit_account %></h1>

	<%= error_messages_for :user %>

	<h2><%= t :change_info %></h2>
	<% form_for @user do |f| -%>
		<p><label for="login"><%= t :name %></label><br/>
		<%= f.text_field :name %></p>

		<p><label for="email"><%= t :email %></label><br/>
		<%= f.text_field :email %></p>

		<p><%= submit_tag t(:edit) %></p>
	<% end %>

	<br/>
	<h2><%= t :change_password %></h2>
	<% form_for :user, :url => { :action => "update_password", :id=>current_user.id }  do |f| -%>
		<p><label for="password"><%= t :current_password %></label><br/>
			<%= password_field_tag :old_password %></p>
	
		<p><label for="password"><%= t :new_password %></label><br/>
			<%= f.password_field :password %></p>

		<p><label for="password_confirmation"><%=t :confirm %></label><br/>
			<%= f.password_field :password_confirmation %></p>
			
		<p><%= submit_tag :change %></p>
	<% end %>

<% end %>