<% rounded_box :id=>'document-view' do %>

	<ul class='edit-buttoms'>
		<li><%= link_to image_tag('back-48.png'), :controller => 'documents', :action => 'index'%></li>
		<% if admin? %>
			<li><%= link_to image_tag('add-48.png'), :action=>'new' %></li>
		<% end %>
	</ul>

	<h1><%=t :listing%></h1>

	<ul id="sections-list">
	<% for section in @sections %>
	    <li><%=h section.title %>
	    	<%= link_to image_tag('edit-16.png'), edit_section_path(section) %>
	    	<%= link_to image_tag('delete-16.png'), section, :confirm => t(:sure), :method => :delete %>
	  	</li>
	<% end %>
	</ul>

	<br />

<% end %>
