<% rounded_box :id=>'document-view' do %>
	<h1><%=t :new_section %></h1>

	<% form_for(@section) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :title,t(:title) %><br />
	    <%= f.text_field :title %>
	  </p>
	  <p>
	    <%= f.submit t(:create) %>
	  </p>
	<% end %>

<% end %>