<p>
  <b>String:</b>
  <%=h @activity.string %>
</p>

<p>
  <b>Integer:</b>
  <%=h @activity.integer %>
</p>

<p>
  <b>String:</b>
  <%=h @activity.string %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
